<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Autonomease</title>
    <style>
        .link {
            color: rgb(217, 131, 166);
        }
    </style>
</head>

<body style="box-sizing: border-box; margin: 0;">
    <table class="main-body"
        style="box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; height: 100%; background-color: rgb(234, 236, 237);"
        width="100%" height="100%" bgcolor="rgb(234, 236, 237)">
        <tbody style="box-sizing: border-box;">
            <tr class="row" style="box-sizing: border-box; vertical-align: top;" valign="top">
                <td id="iuj6" class="main-body-cell" style="box-sizing: border-box; border: 0px solid black;">
                    <table id="i9nu" class="container"
                        style="box-sizing: border-box; font-family: Helvetica, serif; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; height: 0px; width: 90%; max-width: 550px; background-color: #ffffff;"
                        width="90%" height="0" bgcolor="#ffffff">
                        <tbody style="box-sizing: border-box;">
                            <tr style="box-sizing: border-box;">
                                <td id="ia34" class="container-cell"
                                    style="box-sizing: border-box; vertical-align: top; font-size: medium; padding-bottom: 50px;"
                                    valign="top">
                                    <table id="i4fy" class="c1766"
                                        style="box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; min-height: 30px;"
                                        width="100%">
                                        <tbody style="box-sizing: border-box;">
                                            <tr style="box-sizing: border-box;">
                                                <td id="igzmv" class="cell c1776"
                                                    style="box-sizing: border-box; width: 70%; vertical-align: middle;"
                                                    width="70%" valign="middle">
                                                    <div id="iyccy" class="c1144"
                                                        style="box-sizing: border-box; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; font-size: 17px; font-weight: 300; font-family: Georgia, serif;">
                                                        <span
                                                            style="box-sizing: border-box; font-size: 24px;">Autonomease</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table id="iygzi" class="card"
                                        style="box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-bottom: 20px; height: 0px; width: 100%;"
                                        width="100%" height="0">
                                        <tbody style="box-sizing: border-box;">
                                            <tr style="box-sizing: border-box;">
                                                <td class="card-cell"
                                                    style="box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: center;"
                                                    bgcolor="rgb(255, 255, 255)" align="center">
                                                    <table id="injrs" class="table100 c1357"
                                                        style="box-sizing: border-box; width: 100%; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-collapse: collapse;"
                                                        width="100%" height="0">
                                                        <tbody style="box-sizing: border-box;">
                                                            <tr style="box-sizing: border-box;">
                                                                <td id="inype" class="card-content"
                                                                    style="box-sizing: border-box; font-size: 13px; line-height: 20px; color: rgb(111, 119, 125); padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; vertical-align: top; width: 100%; padding: 20px 20px 20px 20px; border-collapse: separate; border-radius: 10px 10px 10px 10px; border: 1px solid black;"
                                                                    width="100%" valign="top">
                                                                    <h1 id="iy42y" class="card-title"
                                                                        style="box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68); font-family: Georgia, serif; text-align: center; line-height: 120%;">
                                                                        Dear {{usersname}},
                                                                        <br style="box-sizing: border-box;">
                                                                        Welcome to Autonomease
                                                                    </h1>
                                                                    <p id="ipb3d" class="card-text"
                                                                        style="box-sizing: border-box; font-family: Georgia, serif;">
                                                                        You can use the following button for email
                                                                        verification:
                                                                    </p>
                                                                    <table id="i260g" class="c1542"
                                                                        style="box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%;"
                                                                        width="100%">
                                                                        <tbody style="box-sizing: border-box;">
                                                                            <tr style="box-sizing: border-box;">
                                                                                <td id="c1545" class="card-footer"
                                                                                    style="box-sizing: border-box; padding-top: 20px; padding-right: 0px; padding-bottom: 20px; padding-left: 0px; text-align: center;"
                                                                                    align="center">
                                                                                    <a href="{{verifyLink}}"
                                                                                        id="ifpb4" class="button"
                                                                                        style="box-sizing: border-box; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; color: rgb(255, 255, 255); text-align: center; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; font-weight: 300; background-color: #151515; border-radius: 25px 25px 25px 25px; text-decoration: none; font-size: 14px; padding: 14px 20px 14px 20px; font-family: Georgia, serif;">Verify
                                                                                        Email</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <p id="i3ihs" class="card-text"
                                                                        style="box-sizing: border-box; font-family: Georgia, serif;">
                                                                        If the button didn&#39;t work use below link,
                                                                    </p>
                                                                    <a href="{{verifyLink}}" id="i40yh"
                                                                        style="box-sizing: border-box; color: #3b97e3; font-style: normal; vertical-align: baseline; font-family: Arial, Helvetica, sans-serif;">{{verifyLink}}<br style="box-sizing: border-box;"></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table id="ib0bxr" class="footer"
                                        style="box-sizing: border-box; margin-top: 50px; color: rgb(152, 156, 165); text-align: center; font-size: 11px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%;"
                                        width="100%" align="center">
                                        <tbody style="box-sizing: border-box;">
                                            <tr style="box-sizing: border-box;">
                                                <td class="footer-cell" style="box-sizing: border-box;">
                                                    <div id="i0k3bi" class="c2577"
                                                        style="box-sizing: border-box; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                                                        <p id="i7jtep" class="footer-info"
                                                            style="box-sizing: border-box; font-family: Georgia, serif;">
                                                            You&#39;re receiving this email because account creation was
                                                            initiated for this email.
                                                        </p>
                                                        <p id="itc4yl" style="box-sizing: border-box;">
                                                            <a href="https://github.com/grapesjs/preset-newsletter"
                                                                id="i8dw0i" class="link"
                                                                style="box-sizing: border-box; color: rgb(217, 131, 166); font-family: Arial, Helvetica, sans-serif;">©
                                                                2023 Tech Turtles. All Rights Reserved.</a>
                                                            <br style="box-sizing: border-box;">
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>